---
const { what,  description1, description2, description3, where, imgSrc } = Astro.props;
---
<div class="grid_1_1">
 <img src={imgSrc} alt="img">
 <div>
    <h3>{what}</h3>
    <h3>{where}</h3>
    <ol>
        <li>{description1}</li>
        <li>{description2}</li>    
        <li>{description3}</li>
    </ol>
 </div>
</div>

<style>
    .grid_1_1{
        color: var(--color-primary);
    }
</style>