---
import Tag from "./Tag.astro";
const { what, description1, description2, description3, text1, text2, text3, imgSrc, isReversed } = Astro.props;
---

<hr />
<div class=`card ${isReversed && "reversed"}`>
  <img src={imgSrc} alt="img" />
  <div>
    <h3>{what}</h3>
    <div class="tags">
      <Tag text={text1} />
      <Tag text={text2} />
      <Tag text={text3} />
    </div>
    <ol>
      <li>{description1}</li>
      <br />
      <li>{description2}</li>
      <br />
      <li>{description3}</li>
    </ol>
  </div>
</div>

<style>
  .card {
    display: flex;
    color: var(--color-primary);
    margin-top: 55px;
    margin-bottom: 100px;
    margin-left: 50px;
    margin-right: 23px;
    gap: 30px;
  }

  .reversed {
    flex-direction: row-reverse;
  }

  .tags {
    display: flex;
    padding-top: 17px;
    padding-bottom: 10px;
    gap: 10px;
  }

  ol {
    font-family: var(--font-text);
    font-size: 1.5rem;
    font-weight: normal;
    margin-left: 40px;
    margin-top: 20px;
    margin-right: 50px;
  }
  li {
    padding: 17px;
  }
  hr {
    color: var(--color-primary);
    width: 95%;
    margin: auto;
  }
  @media (max-width: 768px) {
    .card {
      display: grid;
      grid-template-columns: 1fr;
      color: var(--color-primary);
      margin-top: 20px;
      margin-bottom: 20px;
      margin-left: 20px;
      margin-right: 20px;
    }
    .tags {
      display: flex;
    }
    ol {
      font-family: var(--font-text);
      font-size: 0.7rem;
      font-weight: normal;
      margin-left: 10px;
      margin-top: 10;
      margin-right: 10px;
    }
    li {
      padding: 0;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
</style>
