---
import Tag1 from "./Tag1.astro";
import Tag2 from "./Tag2.astro";
import Tag3 from "./Tag3.astro";
const { what, description1, description2, description3, text1, text2, text3, imgSrc } = Astro.props;
---
<hr>
<div class="grid_1_1">
 <img src={imgSrc} alt="img">
 <div>
    <h3>{what}</h3>
        <div class="tags">
            <Tag1 {text1}/>
            <Tag2 {text2}/>   
            <Tag3 {text3}/>
        </div>
    <ol>
        <li>{description1}</li>
        <br>
        <li>{description2}</li> 
        <br>   
        <li>{description3}</li>
    </ol>
 </div>
</div>

<style>
.grid_1_1{
    color: var(--color-primary);
    margin-top: 55px;
    margin-bottom: 100px;
    margin-left: 50px;
    margin-right: 23px;
    gap: 30px;
}

.tags{
    padding-top: 17px;
    padding-bottom: 10px;
}

ol{
    font-family: var(--font-text);
    font-size: 1.5rem;
    font-weight: normal;
    margin-left: 40px;
    margin-top: 20px;
    margin-right: 50px;
}
li{
    padding: 17px;
}
hr{
    color: var(--color-primary);
    width: 95%;
    margin: auto;
}

</style>