---
const { what,  description1, description2, description3, where } = Astro.props;
---
<div class="grid_1_1">
 <div>
    <h3>{what}</h3>
    <h3>{where}</h3>
    <ol>
        <li>{description1}</li>
        <li>{description2}</li>    
        <li>{description3}</li>
    </ol>
 </div>
 <img src="" alt="">
</div>